* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.done {
	text-decoration: line-through !important;
	opacity: 0.7;
}
.fade {
	animation: fadeout 0.2s ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadeout {
	from {
		opacity: 100;
	}
	to {
		opacity: 0;
	}
}
.hide {
	display: none !important;
}
html {
	background-color: #e5e5e5;

	margin: auto;
}

#app {
	height: 100%;
	width: 1400px;
	background-color: #ccc;
	margin: auto;
	display: flex;
	flex-direction: row;
}
#menu {
	background-color: #1a202e;
	display: flex;
	width: 20%;

	min-height: 745px;
	flex-direction: column;
}
#menu .main-menu {
	color: white;
	text-align: center;
}
.main-menu .none__border {
	border-bottom: none;
}
.name {
	margin: auto;
	margin-top: 20px;
	padding: 20px;
	cursor: pointer;
	width: 80%;
	font-size: 20px;
	border-bottom: 1px solid #fff;
}
.today__task {
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding: 20px;
	width: 80%;
	font-size: 20px;
	border-bottom: 1px solid #fff;
}
.today__task i {
	cursor: pointer;
	width: 20px;
}
.custom__task {
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding: 20px;
	width: 80%;
	font-size: 20px;
	border-bottom: 1px solid #fff;
}
.custom__task i {
	cursor: pointer;
	width: 20px;
}
.add__task {
	display: block;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
	padding: 0 10px;
	width: auto;
	font-size: 30px;
	cursor: pointer;
	color: #1a202e;
	background-color: #ccc;
}
.add__task:active {
	opacity: 0.8;
}
.add__task:hover {
	color: #13285a;
	background-color: #f1f5f9;
}
#task {
	background-color: #f1f5f9;
	display: flex;
	flex-direction: column;
	width: 80%;
}
.vmenu {
	background-color: #fff;
	max-height: 70px;
	width: 100%;
	position: relative;
	padding: 15px;
	box-shadow: 0px 3px 3px rgb(79, 78, 78);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.more {
	align-self: center;
}
.more i {
	font-size: 20px;
	padding: 5px;
	cursor: pointer;
}
.info {
	display: flex;
	align-self: center;
	width: 170px;
	justify-content: space-between;
}
.avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
}
.avatar img {
	align-self: center;
}
.task__todo {
	margin-left: 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.task__todo .input {
	height: 70px;
	width: 80%;
	margin: 30px;
	display: flex;
}
.task__todo .input input {
	width: 95%;
	padding: 15px;
	height: 55px;
	font-size: 24px;
	border: 1px solid #ccc;
	border-radius: 3px;
	align-self: center;
	justify-content: space-between;
}
.task__todo .btn {
	width: 5%;
	height: 50px;
	margin-left: 10px;
	background-color: #05256d;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	align-self: center;
	justify-content: space-between;
}
.task__todo .btn:hover {
	background-color: #07339a;
}
.btn:active {
	opacity: 0.8;
}
.btn i {
	font-size: 25px;
	color: #fff;
}
.list {
	list-style-type: none;
	margin-left: 30px;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.list__task {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	min-height: 30px;
	width: 80%;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 15px;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0px 2px 2px rgb(79, 78, 78);
}
.list__task .task__content {
	align-self: center;
	margin-left: 10px;
	font-size: 24px;
	flex-grow: 2;
	flex-wrap: wrap;
}
.list__task label {
	cursor: pointer;
}

input[type='checkbox'] {
	display: none;
}
input [type='checkbox'] + label {
	display: flex;
	align-items: center;
	margin: 0.3em;
}
input[type='checkbox']:checked + label:before {
	background-color: #0d6efd;
	border-color: transparent;
	color: #fff;
}
input[type='checkbox'] + label:before {
	content: '\2714';
	font-size: 18px;
	border: 0.1em solid #000;
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: top;
	padding-left: 0.2em;
	padding-bottom: 0.3em;
	margin-right: 0.5em;
	border-radius: 0.2em;
	vertical-align: baseline;
	color: transparent;
	transition: 0.1s;
	cursor: pointer;
	background-color: #fff;
}
input[type='checkbox']:checked label:before {
	background-color: #0d6efd;
	border-color: transparent;
	color: #fff;
}
input[type='checkbox'] + label:active:before {
	transform: scale(0.8);
}

.list__task i {
	align-self: center;
	float: right;
	font-size: 24px;
	padding: 5px;
}
.list i {
	cursor: pointer;
}
.list i:hover {
	color: #07339a;
}
.list i:active {
	opacity: 0.8;
}
@media screen and (max-width: 375px) {
	* {
		font-size: 12px !important;
	}
} ;
